<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <%- include('partials/bootstrap')%>
</head>

<body>
    <%- include('partials/navbar')%>
    <h1>Home page <%= 'hello world' .toUpperCase()%>
    </h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae, non? Excepturi sint quod maxime sunt earum?
        Doloremque modi architecto eveniet facilis mollitia nesciunt consequuntur unde nihil qui quo. Libero quos illum
        aspernatur molestiae suscipit autem magni voluptatum incidunt vitae sapiente.</p>
</body>

</html>