<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University</title>
</head>

<body>
    <div style="text-align: center;">
        <h1>Select your university</h1>
        <form action="/" method="POST">
            <label for="universities">Choose University:</label>
            <select name="university" id="universities" required>
                <option value="">--Please choose an option--</option>
                <option value="TU">Tribhuvan University</option>
                <option value="FWU">Far-western University</option>
            </select>
            <button>Submit</button>
        </form>
    </div>

</body>

</html>