<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<!--  title: String,
    price: Number,
    description: String,
    location: String -->

<body>
    <div style="text-align: center;">
        <h1>Create New Campground</h1>
        <form action="/campgrounds" method="POST">
            <label for="title">Title</label>
            <input type="text" id="title" name="title">
            <br>
            <label for="price">Price</label>
            <input type="number" id="price" step="0.01" name="price">
            <br>
            <label for="location">Location</label>
            <input type="text" id="location" name="location">
            <br>
            <textarea name="description" id="description" cols="30" rows="10" placeholder="Description"></textarea>
            <br>
            <button>Create</button>
        </form>
    </div>

</body>

</html>