<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=university.toUpperCase()%>
    </title>
</head>

<body>
    <h1>Showing all the faculties at <%=university%>
    </h1>
    <ol>
        <li><a href="/fwu/bsccsit">BSc.CSIT</a></li>
        <li><a href="/fwu/bct">BE Computer</a></li>
        <li>BE Civil</li>
    </ol>
</body>

</html>